<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- *** -->
    <!-- API -->
    <!-- *** -->
    <preference for="\Praxigento\Accounting\Api\Ctrl\Asset\Transfer\InitInterface"
                type="\Praxigento\Accounting\Service\Asset\Transfer\Init"/>
    <preference for="\Praxigento\Accounting\Api\Service\Asset\Transfer\IProcess"
                type="\Praxigento\Accounting\Service\Asset\Transfer\Process"/>
    <preference for="\Praxigento\Accounting\Api\Rest\Transaction\GetInterface"
            type="\Praxigento\Accounting\Api\Rest\Transaction\Get"/>


    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_acc_cmd_balance_calc" xsi:type="object">\Praxigento\Accounting\Cli\Cmd\Balance\Calc</item>
                <item name="prxgt_acc_cmd_balance_reset" xsi:type="object">\Praxigento\Accounting\Cli\Cmd\Balance\Reset</item>
            </argument>
        </arguments>
    </type>

    <!-- ******** -->
    <!-- Services -->
    <!-- ******** -->
    <preference for="Praxigento\Accounting\Service\IAccount"
            type="Praxigento\Accounting\Service\Account\Call"/>
    <preference for="Praxigento\Accounting\Service\IBalance"
            type="Praxigento\Accounting\Service\Balance\Call"/>
    <preference for="\Praxigento\Accounting\Service\Balance\Get\ITurnover"
            type="\Praxigento\Accounting\Service\Balance\Get\Turnover"/>
    <preference for="\Praxigento\Accounting\Service\Balance\IGet"
            type="\Praxigento\Accounting\Service\Balance\Get"/>
    <preference for="Praxigento\Accounting\Service\IOperation"
            type="Praxigento\Accounting\Service\Operation\Call"/>
    <preference for="Praxigento\Accounting\Service\ITransaction"
            type="Praxigento\Accounting\Service\Transaction\Call"/>

</config>
