<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repos -->
    <preference for="\Praxigento\Accounting\Repo\Agg\IAccount"
            type="\Praxigento\Accounting\Repo\Agg\Def\Account"/>
    <preference for="\Praxigento\Accounting\Repo\Agg\IOperation"
            type="\Praxigento\Accounting\Repo\Agg\Def\Operation"/>
    <preference for="\Praxigento\Accounting\Repo\Agg\ITransaction"
            type="\Praxigento\Accounting\Repo\Agg\Def\Transaction"/>
    <preference for="Praxigento\Accounting\Repo\Entity\IAccount"
            type="Praxigento\Accounting\Repo\Entity\Def\Account"/>
    <preference for="Praxigento\Accounting\Repo\Entity\IBalance"
            type="Praxigento\Accounting\Repo\Entity\Def\Balance"/>
    <preference for="Praxigento\Accounting\Repo\Entity\IOperation"
            type="Praxigento\Accounting\Repo\Entity\Def\Operation"/>
    <preference for="Praxigento\Accounting\Repo\Entity\ITransaction"
            type="Praxigento\Accounting\Repo\Entity\Def\Transaction"/>
    <preference for="\Praxigento\Accounting\Repo\Entity\Log\Change\IAdmin"
            type="\Praxigento\Accounting\Repo\Entity\Log\Change\Def\Admin"/>
    <preference for="\Praxigento\Accounting\Repo\Entity\Log\Change\ICustomer"
            type="\Praxigento\Accounting\Repo\Entity\Log\Change\Def\Customer"/>
    <preference for="Praxigento\Accounting\Repo\Entity\Type\IAsset"
            type="Praxigento\Accounting\Repo\Entity\Type\Def\Asset"/>
    <preference for="Praxigento\Accounting\Repo\Entity\Type\IOperation"
            type="Praxigento\Accounting\Repo\Entity\Type\Def\Operation"/>
    <preference for="Praxigento\Accounting\Repo\IModule"
            type="Praxigento\Accounting\Repo\Def\Module"/>

    <!-- Services -->
    <preference for="Praxigento\Accounting\Service\IAccount"
            type="Praxigento\Accounting\Service\Account\Call"/>
    <preference for="Praxigento\Accounting\Service\IBalance"
            type="Praxigento\Accounting\Service\Balance\Call"/>
    <preference for="Praxigento\Accounting\Service\IOperation"
            type="Praxigento\Accounting\Service\Operation\Call"/>
    <preference for="Praxigento\Accounting\Service\ITransaction"
            type="Praxigento\Accounting\Service\Transaction\Call"/>

</config>
