<div id="mage-loader"></div>
<form id="change-balance-form-<%- accountId %>" method="post" enctype="multipart/form-data" action="<%- formAction %>">
    <div class="modal-content">

        <div class="admin__field">
            <label class="admin__field-label">Customer:</label>
            <span><%- customerName %>&lt;<%- customerEmail %>&gt;</span>
            <span>(<%- customerRef %>)</span>
        </div>
        <div class="admin__field">
            <label class="admin__field-label">Current balance:</label>
            <span><%- balance %> <%- assetCode %></span>
        </div>
        <div class="admin__field">
            <label class="admin__field-label">Change value:</label>
            <input type="text" id="prxgt-change-balance-value" />
        </div>

    </div>

    <div class="clear"></div>
    <div class="modal-footer">
        <span class="error"></span>
        <span id="prxgt-spinner">spinner is here...</span>
        <!--<button type="button" class="btn btn-primary" onclick=""><span>Change</span></button>-->
        <span class="clear"></span>
    </div>
</form>