<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- *********** -->
    <!-- API Service -->
    <!-- *********** -->
    <preference for="Praxigento\Accounting\Api\Service\Account\Asset\Transfer"
                type="Praxigento\Accounting\Service\Account\Asset\Transfer"/>
    <preference for="Praxigento\Accounting\Api\Service\Account\Get"
                type="Praxigento\Accounting\Service\Account\Get"/>
    <preference for="Praxigento\Accounting\Api\Service\Balance\Get\Turnover"
                type="Praxigento\Accounting\Service\Balance\Get\Turnover"/>
    <preference for="Praxigento\Accounting\Api\Service\Operation"
                type="Praxigento\Accounting\Service\Operation"/>


    <!-- ******* -->
    <!-- API Web -->
    <!-- ******* -->
    <preference for="Praxigento\Accounting\Api\Web\Account\Asset\GetInterface"
                type="Praxigento\Accounting\Web\Account\Asset\Get"/>
    <preference for="Praxigento\Accounting\Api\Web\Account\Asset\TransferInterface"
                type="Praxigento\Accounting\Web\Account\Asset\Transfer"/>



    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt:acc:balance:calc" xsi:type="object">Praxigento\Accounting\Cli\Balance\Calc</item>
                <item name="prxgt:acc:balance:reset" xsi:type="object">Praxigento\Accounting\Cli\Balance\Reset</item>
            </argument>
        </arguments>
    </type>


</config>
