<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <!-- Left pane menu item "Accounting" -->
        <add id="Praxigento_Accounting::accounts"
                title="Accounting"
                translate="title"
                module="Praxigento_Accounting"
                sortOrder="30"
                resource="Praxigento_Accounting::admin_accounts"/>

        <!-- "Accounting / Codifiers" groups separator -->
        <add id="Praxigento_Accounting::accounts_codifiers"
             title="Codifiers"
             translate="title"
             module="Praxigento_Accounting"
             sortOrder="1000"
             parent="Praxigento_Accounting::accounts"
             resource="Praxigento_Accounting::admin_accounts"/>


        <!-- "Accounting" group items -->
        <add id="Praxigento_Accounting::accounts_transactions"
             title="Transactions"
             translate="title"
             module="Praxigento_Accounting"
             sortOrder="100"
             parent="Praxigento_Accounting::accounts"
             action="account/transactions"
             resource="Praxigento_Accounting::admin_accounts_transactions"/>

        <add id="Praxigento_Accounting::accounts_operations"
             title="Operations"
             translate="title"
             module="Praxigento_Accounting"
             sortOrder="200"
             parent="Praxigento_Accounting::accounts"
             action="account/operations"
             resource="Praxigento_Accounting::admin_accounts_operations"/>

        <add id="Praxigento_Accounting::accounts_accounts"
             title="Accounts"
             translate="title"
             module="Praxigento_Accounting"
             sortOrder="300"
             parent="Praxigento_Accounting::accounts"
             action="account/accounts"
             resource="Praxigento_Accounting::admin_accounts_accounts"/>


        <!-- "Accounting / Codifiers" group items -->
        <add id="Praxigento_Accounting::accounts_types_asset"
             title="Asset Types"
             translate="title"
             module="Praxigento_Accounting"
             sortOrder="100"
             parent="Praxigento_Accounting::accounts_codifiers"
             action="account/types_asset"
             resource="Praxigento_Accounting::admin_accounts_types_asset"/>

        <add id="Praxigento_Accounting::accounts_types_oper"
             title="Operation Types"
             translate="title"
             module="Praxigento_Accounting"
             sortOrder="200"
             parent="Praxigento_Accounting::accounts_codifiers"
             action="account/types_oper"
             resource="Praxigento_Accounting::admin_accounts_types_oper"/>

    </menu>
</config>