<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <!-- route ID should be equal to the route front name (https://github.com/magento/magento2/pull/11020) -->
        <route id="accounts" frontName="accounts">
            <module name="Praxigento_Accounting"/>
        </route>
        <route id="customer">
            <module name="Praxigento_Accounting" before="Magento_Customer"/>
        </route>
    </router>
</config>